.slider-holder
{
    display: flex;
    justify-content: center;
    background-color: grey;
    padding-bottom: 4%;
    flex-direction: column;
    align-items: center;
}

.image-holder
{
    padding-top: 6%;
    clear: both;
    position: relative;
    transition: left 0.6s;
}

.slider-image
{
}

#slider-image-1:target ~ .image-holder
{
    left: 0px;
}
#slider-image-2:target ~ .image-holder
{
    left: 0px;
    display: none;
}
.image-holder2{
    display: none;
}
#slider-image-2:target ~ .image-holder2
{
    left: -1920px;
    display:inline;
}

#slider-image-3:target ~ .image-holder
{
    left: -1920px;
}

.button-holder
{
    height: 5%;
    display: flex;
    justify-content: space-between;
    width: 3%;
    margin-left: 61%;
}

.slider-buttons
{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: rgb(93, 93, 232);
}
